body
{
    background-image: url("images/whitebackgroundpexels-henry-&-co-1939485.jpg");
    width: 100vw;
}

.splash
{
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 10000;
}

.splash.display-none
{
    opacity: 0;
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1000;
    transition: all 0.5s;
}

#splash-image
{

    display: flex;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

h1
{
    font-family: "Brush Script MT";
    font-size: 8vw;
    display: flex;
    justify-content: center;
    margin-bottom: 25vh;
    margin-top: 10vh;
}

#navbar
{
    padding-right: 2vw;
    font-family: "Castellar";
}

#logo
{
    width: 50px;
    margin-left: 50px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#logobut
{
    font-family: "Castellar";
    margin-left: -5px;
}

.btn-large
{
    width: 500px;
    height: auto;
}

#Button
{
    justify-content: center;
    font-family: "Castellar";
    display: inline-flex;
    width: calc(50% - 4px);
    margin: 0 auto;
    font-size: 8vw;
    min-width: 8vw;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

h2
{
    font-size: 4vw;
    font-family: "Georgia";
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

h3
{
    font-size: 2vw;
    font-family: "Brush Script MT";
    display: flex;
    justify-content: left;
}

h4
{
    font-size: 5vw;
    font-family: "Georgia";
    display: flex;
    justify-content: left;
}


p
{
    font-size: 1vw;
    font-family: "Georgia";
}

#contactform
{
    width: 100%;
}

#pageimage
{
    width: 100%; 
    height: 300px; 
    object-fit: cover;
}

#abtimg
{
    width: 200px;
    margin-left: 5px;
    border: solid black 12px;
    padding: 5px;


}

#Button2
{
    justify-content: center;
    font-family: "Castellar";
    display: inline-flex;
    width: calc(50% - 3px);
    margin: 0 auto;
    font-size: 8vw;
    min-width: 8vw;
    text-align: right;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

