body
{
    background-image: url("images/whitebackgroundpexels-henry-&-co-1939485.jpg");
    width: 100vw;
}

h1
{
    font-family: "Brush Script MT";
    font-size: 10em;
    display: flex;
    justify-content: center;
    margin-bottom: 25vh;
}


#navbar
{
    padding-right: 50px;
}

#logo
{
    width: 50px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logobut
{
    font-family: "Castellar";
    margin-left: -5px;
}

.btn-large
{
    width: 500px;
    height: auto;
}

#yellowButton
{
    justify-content: center;
    font-family: "Castellar";
    display: inline-flex;
    width: calc(50% - 4px);
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}